bin
dist
build
doc/apidoc
release.properties
target
.DS_Store
.settings
.classpath
.project
.flattened-pom.xml

*.releaseBackup

# IntelliJ IDEA
*.iml
.idea/*

# Gradle Caches
.gradle/
!gradle-wrapper.jar

# Vim swap files
*.swp

# Local backup scratch
*.bak
